<div class="row">
	<div class="col-lg-12">
		<h1 class="mt-0 mb-4">Classes Editor</h1>
	</div>

	<div class="col-lg-2">
		<nb-card class="w-100 rounded-lg" style="border: 1px solid rgba(188, 197, 214, 0.5)">
			<nb-card-body>
				<button class="my-2" nbButton fullWidth status="primary" (click)="addMultiple()">Add Weapon</button>
				<nb-select fullWidth [selected]="defaultValue" (selectedChange)="onActiveSelection($event)">
					<nb-option [value]="defaultValue">None</nb-option>
					<nb-option *ngFor="let weapon of getTable; let i = index;" [value]="i">
						000{{ i + 1 }}
					</nb-option>
				</nb-select>
			</nb-card-body>
		</nb-card>

		<button class="my-2 mr-2" nbButton status="danger">Delete</button>
		<button nbButton class="my-2"
		        [status]="formComponent.isValid && formComponent.dirty ? 'success' : 'basic'"
		        (click)="onSendForm()"
		        type='submit'
		        [disabled]="formComponent.Form && formComponent.dirty && !formComponent.Form.valid">Save</button>
	</div>

	<div class="col-lg-10">
		<nb-accordion multi>
			<nb-accordion-item class="w-100 rounded-lg" style="border: 1px solid rgba(188, 197, 214, 0.5)" [collapsed]="false">
				<nb-accordion-item-header>
					General settings
				</nb-accordion-item-header>
				<nb-accordion-item-body>
					<ngx-dynamic-form (onSendForm)="onSendForm()" [source]="source" [showLabels]="true" #viewFormContainer>
						<div class="row my-2">
							<div class="col-sm-12">
								<ngx-text-field #weaponNameField></ngx-text-field>
							</div>
							<div class="col-sm-12">
								<ngx-text-field #weaponDescriptionField></ngx-text-field>
							</div>
						</div>
						<div class="row my-2">
							<!-- TODO this must be defined -->
							<div class="col-sm-6">
								<ngx-dropdown-field #weaponTypeField></ngx-dropdown-field>
							</div>
							<div class="col-sm-6">
								<ngx-text-field #weaponCostField></ngx-text-field>
							</div>
						</div>
						<div class="row my-2">
							<div class="col-sm-12">
								<ngx-dropdown-field #animationField></ngx-dropdown-field>
							</div>
						</div>
					</ngx-dynamic-form>
				</nb-accordion-item-body>
			</nb-accordion-item>

			<nb-accordion-item class="w-100 rounded-lg mt-4" style="border: 1px solid rgba(188, 197, 214, 0.5)" disabled>
				<nb-accordion-item-header nbTooltip="This section defines the stats that the class will have in the game" nbTooltipPlacement="top" nbTooltipStatus="basic">
					Parameter changes <nb-badge text="COMING SOON" status="danger" position="center right" class="mr-5"></nb-badge>
				</nb-accordion-item-header>
				<nb-accordion-item-body>
					<ngx-dynamic-form (onSendForm)="onSendForm()" [source]="source" [showLabels]="true" #viewFormContainer>
						<!-- TODO make for loop with parameters that are attached to this weapon.
							<div class="row my-2">
								<div class="col-sm-3">
									<ngx-text-field #attackField></ngx-text-field>
								</div>
							</div>
						-->
					</ngx-dynamic-form>
				</nb-accordion-item-body>
			</nb-accordion-item>
			<nb-accordion-item class="w-100 rounded-lg mt-4" style="border: 1px solid rgba(188, 197, 214, 0.5)" disabled>
				<nb-accordion-item-header nbTooltip="This section defines the skills that the class will have at a certain level." nbTooltipPlacement="top" nbTooltipStatus="basic">
					Traits <nb-badge text="COMING SOON" status="danger" position="center right" class="mr-5"></nb-badge>
				</nb-accordion-item-header>
				<nb-accordion-item-body>
				</nb-accordion-item-body>
			</nb-accordion-item>
		</nb-accordion>
	</div>
</div>
