[submodule "-f"]
	path = unity/StoryTime/Packages/StoryTime
	url = https://github.com/vamidi/StoryTime-UPM.git
[submodule "unity/StoryTime/Packages/StoryTime"]
	path = unity/StoryTime/Packages/StoryTime
	url = https://github.com/vamidi/StoryTime-UPM.git
[submodule "unreal/ue4/StoryTimePlugin/Plugins/StoryTime"]
	path = unreal/ue4/StoryTimePlugin/Plugins/StoryTime
	url = https://github.com/vamidi/StoryTime-plugin-UE4.git
[submodule "prisma"]
	path = next
	url = https://github.com/vamidi/StoryTime-PRISMA
[submodule "next"]
	path = next
	url = https://github.com/vamidi/StoryTime-PRISMA
