<div class="row">
	<div class="col-lg-12">
		<ngx-breadcrumbs></ngx-breadcrumbs>
	</div>
	<div class="col-lg-12">
		<nb-card>
			<nb-card-header class="row">
				<div class="col-7">
					<h4>Node Editor - {{ title }}</h4>
				</div>
				<div class="col-5">
					<button style="margin-right:10px;margin-bottom:10px;font-size: 24px;padding: 5px;" nbButton status="info"><i class="edit-column nb-edit"></i></button>
					<button style="margin-right:10px;margin-bottom:10px;padding: 9px;" nbButton status="primary" (click)="loadCraftable()">Load</button>
					<button style="margin-right:10px;margin-bottom:10px;padding: 9px;" nbButton status="primary" (click)="saveCraftable()">Save</button>
					<button style="margin-right:10px;margin-bottom:10px;padding: 9px;" nbButton status="primary" (click)="newCraftable()">New</button>
					<nb-select size="large" selected="en" style="width: 10rem;margin-right:10px;font-size: 24px;"
					           (selectedChange)="onLanguageChange($event)">
						<nb-option *ngFor="let language of languages | async | keyvalue | orderBy: 'asc': 'value'" [value]="language.key">{{ language.value }}</nb-option>
					</nb-select>
				</div>
			</nb-card-header>
		</nb-card>
	</div>
	<div class="wrapper">
		<div class="side-panel right" #sidePanel>
			<nb-card class="h-100">
				<nb-card-header>
					<button nbButton ghost status="basic">
						<nb-icon icon="expand"></nb-icon>
					</button>
					<h6>{{ nodeTitle }}</h6>
				</nb-card-header>
				<nb-card-body>
					<!-- If normal item then we have to specify the following -->
					<!-- items that we can select -->
					<div class="form-group {{ itemListQuestion.groupCss }}">
						<label class="formHeading" [for]="itemListQuestion.key + '--dropdown'">{{ itemListQuestion.text }}</label>
						<nb-select id="{{ itemListQuestion.key}}--dropdown" #itemSelectComponent
								   fullWidth
								   [selected]="defaultOption"
								   [disabled]="itemListQuestion.disabled"
								   (selectedChange)="pickItem($event)">
<!--							<nb-option [id]="'dialogue-option-new'" [value]="defaultOption">[+] None</nb-option>-->
							<nb-option [value]="defaultOption">[+] None</nb-option>
							<nb-option *ngFor="let o of itemListQuestion.options$ | async" [value]="o.value">{{ o.key }}</nb-option>
						</nb-select>
					</div>

					<!-- ITEM FORM -->
					<!-- All fields of the selected item -->
					<ngx-dynamic-form #itemFormComponent [source]="ItemSource" [showLabels]="true"></ngx-dynamic-form>

					<!-- CRAFTABLE FORM -->
					<!-- All fields of the selected item -->
					<ngx-dynamic-form #craftFormComponent [source]="CraftSource" [showLabels]="true"></ngx-dynamic-form>

					<!-- Craftable condition FORM -->
					<ngx-dynamic-form #craftConditionFormComponent [source]="CraftConditionSource" [showLabels]="true"></ngx-dynamic-form>

				</nb-card-body>
				<nb-card-footer>
					<button nbButton fullWidth status="success" class="ml-2" (click)="updateItem()">Save</button>
				</nb-card-footer>
			</nb-card>
		</div>
		<div #nodeEditor class="node-editor"></div>
	</div>
	<div class="col-md-12"></div>
</div>
