<nb-card status="primary" class="popover-card" size="large">
	<nb-card-header>{{ title }}</nb-card-header>
	<nb-card-body>
		<ngx-dynamic-form [source]="source" [showLabels]="true" (onSendForm)="onSendForm()">
			<ngx-text-field #tableField></ngx-text-field>
			<ngx-text-field #tableDescriptionField></ngx-text-field>
		</ngx-dynamic-form>
	</nb-card-body>
	<nb-card-footer>
		<button nbButton ghost status="dismiss" (click)="dismiss()">Dismiss</button>
		<ngx-button-field #submitQuestion value="Insert" (onSubmitFunc)="onSendForm()"></ngx-button-field>
		<ngx-checkbox-field #checkboxQuestion></ngx-checkbox-field>
	</nb-card-footer>
</nb-card>
