<div class="row">
	<div class="col-lg-12">
		<h1 class="mt-0 mb-4">Character Editor</h1>
	</div>

	<div class="col-lg-4">
		<nb-card class="w-100 rounded-lg" style="border: 1px solid rgba(188, 197, 214, 0.5)">
			<nb-card-body>
				<button class="my-2" nbButton fullWidth status="primary" (click)="addMultiple()">Add Character</button>
				<nb-select fullWidth [selected]="defaultValue" (selectedChange)="onCharacterClicked($event)">
					<nb-option [value]="defaultValue">None</nb-option>
					<nb-option *ngFor="let character of characters; let i = index;" [value]="i">
						000{{ i + 1 }} {{ getName(character.name) }}
					</nb-option>
				</nb-select>
			</nb-card-body>
		</nb-card>

		<button class="my-2 mr-2" nbButton status="danger">Delete</button>
		<button class="my-2" nbButton status="success">Save</button>
	</div>

	<div class="col-lg-8">
		<nb-card class="w-100 rounded-lg" style="border: 1px solid rgba(188, 197, 214, 0.5)">
			<nb-card-header>
				General settings
			</nb-card-header>
			<nb-card-body>
				<div class="row my-2">
					<div class="col-sm-6">
						<div class="form-control-group">
							<label class="label" for="name-text-box">Name:</label>

							<input nbInput
							       fullWidth
							       id="name-text-box"
							       type="text"
							       required="required"
							       placeholder="Name"
							       [value]="selectedCharacter?.name['en']"
							/>
							<!--
							 (blur)="trySetTouched($event)"
							[status]="email.dirty ? (email.invalid  ? 'warning' : 'primary') : 'basic'"
							[required]="getConfigValue('forms.validation.email.required')"
							[attr.aria-invalid]="email.invalid && email.touched ? true : null" -->
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-control-group">
							<label class="label" for="input-email">Nickname:</label>
							<input nbInput
							       fullWidth
							       type="email"
							       name="email"
							       id="input-email"
							       pattern=".+@.+\..+"
							       placeholder="Nickname"
							       autofocus/>
							<!--
							       [status]="email.dirty ? (email.invalid  ? 'warning' : 'primary') : 'basic'"
							       [required]="getConfigValue('forms.validation.email.required')"
							       [attr.aria-invalid]="email.invalid && email.touched ? true : null"
							-->
						</div>
					</div>
				</div>
				<div class="row my-2">
					<div class="col-sm-4">
						<div class="form-control-group">
							<label class="label" for="input-class">Class:</label>

							<nb-select id="input-class" fullWidth [selected]="defaultValue">
								<nb-option [value]="defaultValue">None</nb-option>
								<nb-option *ngFor="let characterClass of GetClasses" [value]="characterClass.id">{{ characterClass.className }}</nb-option>
							</nb-select>
							<!--
							       [status]="email.dirty ? (email.invalid  ? 'warning' : 'primary') : 'basic'"
							       [required]="getConfigValue('forms.validation.email.required')"
							       [attr.aria-invalid]="email.invalid && email.touched ? true : null"
							-->
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-control-group">
							<label class="label" for="input-email">Initial level:</label>
							<input nbInput
							       fullWidth
							       type="number"
							       name="initial-level"
							       id="input-min-level"
							       placeholder="Initial level"
							       [value]="selectedCharacter?.initialLevel"
							       autofocus/>
							<!--
							       [status]="email.dirty ? (email.invalid  ? 'warning' : 'primary') : 'basic'"
							       [required]="getConfigValue('forms.validation.email.required')"
							       [attr.aria-invalid]="email.invalid && email.touched ? true : null"
							-->
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-control-group">
							<label class="label" for="input-max-level">Max level:</label>
							<input nbInput
							       fullWidth
							       type="number"
							       name="max-level"
							       id="input-max-level"
							       pattern=".+@.+\..+"
							       placeholder="Name"
							       [value]="selectedCharacter?.maxLevel"
							       autofocus/>
							<!--
							       [status]="email.dirty ? (email.invalid  ? 'warning' : 'primary') : 'basic'"
							       [required]="getConfigValue('forms.validation.email.required')"
							       [attr.aria-invalid]="email.invalid && email.touched ? true : null"
							-->
						</div>
					</div>
				</div>
				<div class="row my-2">
					<div class="col-sm-12">
						<div class="form-control-group">
							<!-- character.description -->
							<label class="label" for="profile--area">Description:</label>
							<textarea id="profile--area"
							          placeholder="Description"
							          required="required"
							          nbInput
							          fullWidth
							          [value]="selectedCharacter?.description['en']">
							</textarea>
						</div>
					</div>
				</div>
			</nb-card-body>
		</nb-card>

		<!-- Character equipment -->

		<nb-card class="w-100 rounded-lg" style="border: 1px solid rgba(188, 197, 214, 0.5)">
			<nb-card-header nbTooltip="This section defines the items that the character will have at the start of the game." nbTooltipPlacement="top" nbTooltipStatus="basic">
				Character Equipment
			</nb-card-header>
			<nb-card-body>
				<ng2-smart-table
					[settings]="settings" [source]="source"
					(create)="createEquipment($event)"
					(createConfirm)="onCreateEquipmentConfirm($event)"
					(editConfirm)="onEditConfirm.emit($event)"
					(deleteConfirm)="onDeleteConfirm.emit($event)"
					(custom)="onChangelogConfirm($event)"
					(onColumnOrderChanged)="onColumnOrderChange($event)">
				</ng2-smart-table>
			</nb-card-body>
		</nb-card>

		<!-- Character Traits -->

		<nb-card class="w-100 rounded-lg" style="border: 1px solid rgba(188, 197, 214, 0.5)">
			<nb-card-header nbTooltip="Traits defines the properties the character will receive in the game immediately" nbTooltipPlacement="top" nbTooltipStatus="basic">
				Character Traits
			</nb-card-header>
			<nb-card-body>
				<ng2-smart-table
					[settings]="traitSettings" [source]="traitSource"
					(create)="createTrait($event)"
					(custom)="onChangelogConfirm($event)"
					(onColumnOrderChanged)="onColumnOrderChange($event)">
					<!-- (createConfirm)="onCreateConfirm($event)"
					(editConfirm)="onEditConfirm($event)"
					(deleteConfirm)="onDeleteConfirm($event)" -->
				</ng2-smart-table>
			</nb-card-body>
		</nb-card>
	</div>
</div>
