<div class="row">
	<div class="col-lg-12">
		<h1 class="mt-0 mb-4">Classes Editor</h1>
	</div>

	<div class="col-lg-2">
		<nb-card class="w-100 rounded-lg" style="border: 1px solid rgba(188, 197, 214, 0.5)">
			<nb-card-body>
				<button class="my-2" nbButton fullWidth status="primary" (click)="addMultiple()">Add Class</button>
				<nb-select fullWidth [selected]="defaultValue" (selectedChange)="onActiveSelection($event)">
					<nb-option [value]="defaultValue">None</nb-option>
					<nb-option *ngFor="let charClass of getTable; let i = index;" [value]="charClass.id">
						000{{ i + 1 }} {{ getLanguageProperty(charClass.className) }}
					</nb-option>
				</nb-select>
			</nb-card-body>
		</nb-card>

		<button class="my-2 mr-2" nbButton [status]="selectedObject ? 'danger' : 'basic'" [disabled]="selectedObject === null" (click)="deleteSelected()">Delete</button>
		<button nbButton class="my-2"
		        [status]="formComponent.isValid && formComponent.dirty ? 'success' : 'basic'"
		        (click)="onSendForm()"
		        type='submit'
		        [disabled]="formComponent.Form && formComponent.dirty && !formComponent.Form.valid">Save</button>
	</div>

	<div class="col-lg-10">
		<nb-accordion multi>
			<nb-accordion-item class="w-100 rounded-lg" style="border: 1px solid rgba(188, 197, 214, 0.5)" [collapsed]="false">
				<nb-accordion-item-header>
					General settings
				</nb-accordion-item-header>
				<nb-accordion-item-body>
					<ngx-dynamic-form (onSendForm)="onSendForm()" [source]="source" [showLabels]="true" #viewFormContainer>
						<div class="row my-2">
							<div class="col-sm-5">
								<ngx-text-field #classNameField></ngx-text-field>
							</div>
							<div class="col-sm-7">
								<ngx-text-field #classExperienceCurveField></ngx-text-field>
							</div>
						</div>
					</ngx-dynamic-form>
				</nb-accordion-item-body>
			</nb-accordion-item>

			<nb-accordion-item class="w-100 rounded-lg mt-4" style="border: 1px solid rgba(188, 197, 214, 0.5)">
				<nb-accordion-item-header nbTooltip="This section defines the stats that the class will have in the game" nbTooltipPlacement="top" nbTooltipStatus="basic">
					Stat Curves
				</nb-accordion-item-header>
				<nb-accordion-item-body>
					<div class="row" *ngIf="selectedObject === null">
						<div class="col-lg-12">
							<h5>No class selected!</h5>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12" *ngIf="eCharLevelOptions !== null">
							<h5>Experience Curve</h5>

							<nb-card class="w-100 rounded-lg" style="border: 1px solid rgba(188, 197, 214, 0.5)">
								<nb-card-body>
									<ngx-echarts-area-stack [options]="eCharLevelOptions"></ngx-echarts-area-stack>
								</nb-card-body>
							</nb-card>
						</div>
					</div>

					<div class="row">
						<!-- START Character Stats -->

						<div class="col-lg-12" *ngIf="curves.length > 0">
							<h5>Parameter Curves</h5>
						</div>

						<div class="col-lg-4 d-flex align-items-stretch"  *ngIf="selectedObject !== null">
							<nb-card class="w-100 rounded-lg" style="border: 1px solid rgba(188, 197, 214, 0.5)">
								<nb-card-body>
									<button style="width: 100%;height: 100%; background: none;border: none;font-size: 5rem; outline: none" (click)="insertStat()">
										<i class="add-column nb-plus text-basic"></i>
									</button>
								</nb-card-body>
							</nb-card>
						</div>

						<div class="col-lg-4" *ngFor="let curve of curves; let i = index">
							<nb-card class="w-100 rounded-lg" style="border: 1px solid rgba(188, 197, 214, 0.5)">
								<nb-card-header class="d-flex flex-row">
									<h5>{{ getLanguageProperty(getAttribute(curve.paramId) ? getAttribute(curve.paramId).paramName : null ) }}</h5>
									<button id="button-basic" type="button" style="border:none; background:none; outline:none; font-size: 1.2rem"
									        class="btn-group align-self-start mt-auto ml-auto" aria-controls="dropdown-basic" [nbContextMenu]="getCardOption(curve.id)" nbContextMenuTag="open-parameter-menu">
										<nb-icon icon="more-vertical-outline" class="text-basic"></nb-icon>
									</button>
								</nb-card-header>
								<nb-card-body>
									<!-- TODO make a for loop for each of the stat curve that has been made on the character -->
									<ngx-echarts-area-stack [options]="eChartsOptions[i]"></ngx-echarts-area-stack>
								</nb-card-body>
							</nb-card>
						</div>

						<!-- END Character Stats -->
					</div>
				</nb-accordion-item-body>
			</nb-accordion-item>

			<nb-accordion-item class="w-100 rounded-lg mt-4" style="border: 1px solid rgba(188, 197, 214, 0.5)" *ngIf="getSkillTbl">
				<nb-accordion-item-header nbTooltip="This section defines the skills that the class will have at a certain level." nbTooltipPlacement="top" nbTooltipStatus="basic">
					Skills
				</nb-accordion-item-header>
				<nb-accordion-item-body>
					<ng2-smart-table
						[settings]="getSkillSettings" [source]="getSkillTbl.getSource"
						(createConfirm)="onCreateConfirm($event, getSkillTbl.id)"
						(editConfirm)="onEditConfirm($event, false, getSkillTbl.id)"
						(deleteConfirm)="onDeleteConfirm($event, null, getSkillTbl.id)"
						(custom)="onChangelogConfirm($event)"
						(onColumnOrderChanged)="onColumnOrderChange($event)">
					</ng2-smart-table>
				</nb-accordion-item-body>
			</nb-accordion-item>
		</nb-accordion>
	</div>
</div>
