<div class="row">
	<div class="col-lg-12">
		<ngx-breadcrumbs></ngx-breadcrumbs>
	</div>
	<div class="col-lg-12">
		<nb-card>
			<nb-card-header class="row">
				<div class="col-7">
					<h4>Node Editor - {{ title }}</h4>
				</div>
				<div class="col-5">
					<button style="margin-right:10px;margin-bottom:10px;font-size: 24px;padding: 5px;" nbButton status="info"><i class="edit-column nb-edit"></i></button>
					<button style="margin-right:10px;margin-bottom:10px;padding: 9px;" nbButton status="primary" (click)="loadStory()">Load</button>
					<button style="margin-right:10px;margin-bottom:10px;padding: 9px;" nbButton status="primary" (click)="saveStory()">Save</button>
					<button style="margin-right:10px;margin-bottom:10px;padding: 9px;" nbButton status="primary" (click)="newStory()">New</button>
					<nb-select size="large" selected="en" style="width: 10rem;margin-right:10px;font-size: 24px;"
					           (selectedChange)="onLanguageChange($event)">
						<nb-option *ngFor="let language of languages | async | keyvalue | orderBy: 'asc': 'value'" [value]="language.key">{{ language.value }}</nb-option>
					</nb-select>
				</div>
			</nb-card-header>
		</nb-card>
	</div>
	<div class="wrapper">
		<div class="side-panel" #sidePanel>
			<nb-card class="h-100">
				<nb-card-header>
					<button nbButton ghost status="basic">
						<nb-icon icon="expand"></nb-icon>
					</button>
					<h6>{{ nodeTitle }}</h6>
				</nb-card-header>
				<nb-card-body>
					<div class="form-group {{ textAreaQuestion.groupCss }}">
						<label class="formHeading" for="{{ textAreaQuestion.key }}--area">{{ textAreaQuestion.text }}</label>
						<textarea id="{{ textAreaQuestion.key }}--area" style="min-height:250px"
						          nbInput fullWidth
						          [name]="textAreaQuestion.name"
						          [value]="textAreaQuestion.value"
						          (change)="setDialogue = $event">
						</textarea>
						<button nbButton fullWidth status="success" class="mt-2" (click)="updateDialogue()">Save</button>
					</div>

					<div class="form-group" *ngIf="CurrentNode && CurrentNode.name === 'Dialogue'">
						<button nbButton fullWidth status="primary" class="mt-2 flex-grow-1" (click)="addOption()">Add Options</button>
					</div>

					<ng-container #overViewContainer></ng-container>
					<button *ngIf="HasOutputs" nbButton fullWidth status="success" class="mt-2" (click)="updateOptions()">Save</button>

					<!-- character id -->
					<!-- TODO make character to support multiple character conversation -->
					<div class="form-group {{ charTextQuestion.groupCss }}">
						<label class="formHeading d-flex" for="{{ charTextQuestion.key }}--textbox" *ngIf="charTextQuestion">
							<span class="flex-grow-1">{{ charTextQuestion.text }}</span>
						</label>
						<input id="{{ charTextQuestion.key }}--textbox"
						       [type]="charTextQuestion.hidden ? 'hidden' : charTextQuestion.controlType"
						       [value]="charTextQuestion.value"
						       [placeholder]="charTextQuestion.text"
						       [name]="charTextQuestion.name"
						       [readOnly]="charTextQuestion.readOnly"
						       [attr.disabled]="charTextQuestion.disabled ? '' : null"
						       nbInput
						       fullWidth
						/>
					</div>

					<!-- previous connection -->
					<div *ngIf="nonStartNode" class="form-group {{ textQuestion.groupCss }}">
						<label class="formHeading d-flex" for="{{ textQuestion.key }}--textbox" *ngIf="textQuestion">
							<span class="flex-grow-1">{{ textQuestion.text }}</span>
						</label>
						<input id="{{ textQuestion.key }}--textbox"
						       [type]="textQuestion.hidden ? 'hidden' : textQuestion.controlType"
						       [value]="textQuestion.value"
						       [placeholder]="textQuestion.text"
						       [name]="textQuestion.name"
						       [readOnly]="textQuestion.readOnly"
						       [attr.disabled]="textQuestion.disabled ? '' : null"
						       nbInput
						       fullWidth
						/>
					</div>

				</nb-card-body>
			</nb-card>
		</div>
		<div #nodeEditor class="node-editor"></div>
	</div>
	<div class="col-md-12">

	</div>
</div>
