<div class="row">
	<div class="col-lg-12">
		<ngx-breadcrumbs></ngx-breadcrumbs>
	</div>
	<div class="col-lg-12">
		<h1>Stories</h1>
	</div>
	<div class="col-lg-12">
		<ngx-nebular-search></ngx-nebular-search>
	</div>
	<div class="col-lg-3 d-flex align-items-stretch">
		<nb-card class="w-100 rounded-lg" style="border: 1px solid rgba(188, 197, 214, 0.5)">
			<nb-card-body>
				<button style="width: 100%;height: 100%; background: none;border: none;font-size: 5rem; outline: none" (click)="addMultiple()">
					<i class="add-column nb-plus"></i>
				</button>
			</nb-card-body>
		</nb-card>
	</div>
	<div class="col-lg-3 d-flex align-items-stretch" *ngFor="let story of getTable">
		<nb-card class="w-100 rounded-lg" style="border: 1px solid rgba(188, 197, 214, 0.5)" (click)="onStoryClicked($event, story);">
			<nb-card-header>
				<div class="d-flex flex-row">
					<div>
						<h4>{{ story.title }}</h4>
					</div>
					<div class="btn-group align-self-start ml-auto" dropdown>
						<button id="button-basic" dropdownToggle type="button" style="border:none; background:none; outline:none; font-size: 1.2rem"
								aria-controls="dropdown-basic">
							<i class="fas fa-ellipsis-h"></i>
						</button>
						<ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
							role="menu" aria-labelledby="button-basic">
							<li role="menuitem">Remove</li>
						</ul>
					</div>
				</div>
			</nb-card-header>
			<nb-card-body>
				<p>{{ story.description }}</p>
			</nb-card-body>
		</nb-card>
	</div>
</div>
