<nb-card style="height: 100%">
	<nb-card-header>
		{{ title }}
	</nb-card-header>
	<nb-card-body>
		<div class="as-form" *ngIf="active">
			<p>* {{ formModel.required_text }}</p>
			<form [formGroup]="myForm" (ngSubmit)="myForm.valid && onSendForm()">
				<div *ngFor="let question of formModel.questions" class="form-group {{ question.groupCss }}">
					<!--<div class="errorMessage" *ngIf="!form.controls[question.key].valid">* {{ formModel.requiredtext }}</div>-->
					<div [ngSwitch]="question.controlType" style="width: 100%;">

						<!-- TEXTBOX -->

						<div *ngSwitchCase="'textbox'">
							<label class="formHeading" for="{{ question.key }}--textbox"
								   *ngIf="showLabels">{{ question.text }} <span
								*ngIf="question.required">*</span></label>
							<ul *ngIf="!myForm.controls[question.key].valid && myForm.controls[question.key].dirty"
								class="alert" style="margin-bottom: 10px"
								[ngClass]="[!myForm.controls[question.key].valid ? 'danger' : 'success']">
								<li [ngClass]="[!myForm.controls[question.key].valid ? 'alert-danger' : 'alert-success']">{{ question.errorText }}</li>
							</ul>

							<input id="{{ question.key }}--textbox"
								   type="{{ question.type }}"
								   placeholder="{{ question.text }}"
								   name="{{ question.name }}"
								   nbInput
								   fullWidth
								   [minlength]="1"
								   [value]="question.value"
								   [formControlName]="question.key"
								   [ngClass]="[!myForm.controls[question.key].valid ? 'status-danger ' : 'status-success ' + question.inputCss]"
								   [required]="question.required">
						</div>

						<!-- TEXTBOX numbers only -->

						<div *ngSwitchCase="'textbox-numbers'">
							<label class="formHeading" for="{{ question.key }}--textbox-numbers"
								   *ngIf="showLabels">{{ question.text }} <span
								*ngIf="question.required">*</span></label>
							<ul *ngIf="!myForm.controls[question.key].valid && myForm.controls[question.key].dirty"
								class="alert" style="margin-bottom: 10px"
								[ngClass]="[!myForm.controls[question.key].valid ? 'danger' : 'success']">
								<li [ngClass]="[!myForm.controls[question.key].valid ? 'alert-danger' : 'alert-success']">{{ question.errorText }}</li>
							</ul>

							<input id="{{ question.key }}--textbox-numbers"
								   type="{{ question.type }}"
								   placeholder="{{ question.text }}"
								   name="{{ question.name }}"
								   nbInput
								   fullWidth
								   ngx-digitOnly
								   [minlength]="1"
								   [value]="question.value"
								   [formControlName]="question.key"
								   [ngClass]="[!myForm.controls[question.key].valid ? 'status-danger ' : 'status-success ' + question.inputCss]"
								   [required]="question.required">
						</div>

						<!-- DROP DOWN -->

						<div *ngSwitchCase="'dropdown'">
							<label class="formHeading" for="{{ question.key }}--dropdown"
								   *ngIf="showLabels">{{question.text}} <span *ngIf="question.required">*</span></label>
							<ul *ngIf="!myForm.controls[question.key].valid && myForm.controls[question.key].dirty"
								class="alert" style="margin-bottom: 10px"
								[ngClass]="[!myForm.controls[question.key].valid ? 'status-danger ' : 'status-success ']">
								<li [ngClass]="[!myForm.controls[question.key].valid ? 'status-danger ' : 'status-success ']">{{ question.errorText }}</li>
							</ul>
							<!-- <select
								id="{{ question.key }}--dropdown"
								[ngClass]="question.inputCss"
								[formControlName]="question.key"
								[required]="question.required">
								<option selected="selected" [value]="null">{{ question.options[0].value }}</option>
								<option *ngFor="let o of question.options | slice:1;"
										[value]="o.key">{{ o.value }}</option>
							</select> -->
							<nb-select
								id="{{ question.key }}--dropdown"
								fullWidth [selected]="question.selected"
								[formControlName]="question.key">
								<nb-option *ngFor="let o of question.options$" [value]="o.key">{{ o.value }}</nb-option>
							</nb-select>
							<!--<nb-select id="{{ question.key }}--dropdown"
									   [(selected)]="getSelected(question)"
									   [ngClass]="question.inputCss"
									   [formControlName]="question.key"
									   [required]="question.required">
								<nb-option [value]="null">{{ question.options[0].value }}</nb-option>
								<nb-option *ngFor="let o of question.options | slice: 1;"
										   [value]="o.key">{{ o.value }}</nb-option>
							</nb-select>-->
						</div>

						<!-- TEXT AREA -->

						<div *ngSwitchCase="'textarea'">
							<label class="formHeading" for="{{ question.key }}--textarea"
								   *ngIf="showLabels">{{question.text}} <span *ngIf="question.required">*</span></label>
							<ul *ngIf="!myForm.controls[question.key].valid && myForm.controls[question.key].dirty"
								class="alert" style="margin-bottom: 10px"
								[ngClass]="[!myForm.controls[question.key].valid ? 'alert-danger' : 'alert-success']">
								<li [ngClass]="[!myForm.controls[question.key].valid ? 'alert-danger' : 'alert-success']">{{ question.errorText }}</li>
							</ul>
							<textarea id="{{ question.key }}--textarea" [ngClass]="question.inputCss"
									  [formControlName]="question.key" [placeholder]="question.text"
									  [required]="question.required"
									  [value]="question.value">{{ question.value }}</textarea>
						</div>

						<!-- DATE INPUT -->

						<div *ngSwitchCase="'date'">
							<label class="formHeading" for="{{ question.key }}--date"
								   *ngIf="showLabels">{{question.text}} <span *ngIf="question.required">*</span></label>
							<ul *ngIf="!myForm.controls[question.key].valid && myForm.controls[question.key].dirty"
								class="alert" style="margin-bottom: 10px"
								[ngClass]="[!myForm.controls[question.key].valid ? 'alert-danger' : 'alert-success']">
								<li [ngClass]="[!myForm.controls[question.key].valid ? 'alert-danger' : 'alert-success']">{{ question.errorText }}</li>
							</ul>
							<input id="{{ question.key }}--date"
								   type="{{ question.type }}"
								   placeholder="{{ question.text }}"
								   name="{{ question.name }}"
								   [value]="question.value"
								   class="{{ question.inputCss }}" [formControlName]="question.key"
								   [min]="today"
								   [required]="question.required">
						</div>

						<!-- TIME INPUT -->

						<div *ngSwitchCase="'time'">
							<label class="formHeading" for="{{ question.key }}--time"
								   *ngIf="showLabels">{{question.text}} <span *ngIf="question.required">*</span></label>
							<ul *ngIf="!myForm.controls[question.key].valid && myForm.controls[question.key].dirty"
								class="alert" style="margin-bottom: 10px"
								[ngClass]="[!myForm.controls[question.key].valid ? 'alert-danger' : 'alert-success']">
								<li [ngClass]="[!myForm.controls[question.key].valid ? 'alert-danger' : 'alert-success']">{{ question.errorText }}</li>
							</ul>
							<input id="{{ question.key }}--time"
								   [type]="question.type"
								   [placeholder]="question.text"
								   [ngClass]="question.inputCss"
								   [min]="minimalDate"
								   [max]="maximalDate"
								   [value]="question.value"
								   [formControlName]="question.key"
								   [required]="question.required"
							/>
							<!--						   [owlDateTimeTrigger]="dtPicker2"-->
							<!--						   [owlDateTime]="dtPicker2"-->
							<!--					<owl-date-time #dtPicker2 [pickerType]="'timer'" [stepMinute]="5"></owl-date-time>-->
						</div>
					</div>
				</div>
			</form>
			<ul *ngIf="msgObject.error_msg !== ''" class="alert" style="margin-top: 10px"
				[ngClass]="[msgObject.error ? 'alert-danger' : 'alert-success']">
				<li *ngIf="msgObject.error_msg !== ''"
					[ngClass]="[msgObject.error ? 'alert-danger' : 'alert-success']">{{ msgObject.error_msg }}</li>
			</ul>
		</div>
	</nb-card-body>
	<nb-card-footer *ngIf="active">
		<button nbButton ghost status="dismiss" (click)="dismiss()">Dismiss</button>
		<span *ngFor="let question of formModel.questions" class="form-group {{ question.groupCss }}">
			<span [ngSwitch]="question.controlType">
				<span *ngSwitchCase="'submitbutton'">
					<button nbButton ghost status="primary"
							(click)="onSendForm()"
							[type]="question.type"
							[ngClass]="question.inputCss"
							[disabled]="!myForm.valid && !myForm.dirty">{{ question.value }}</button>
				</span>
			</span>
		</span>

		<!--		<button nbButton ghost status="primary" (click)="save()">Insert</button>-->
	</nb-card-footer>
</nb-card>
