<div class="row">
	<div class="col-lg-12">
		<ngx-breadcrumbs></ngx-breadcrumbs>
	</div>
	<div class="col-lg-12">
		<nb-card>
			<nb-card-header class="row">
				<div class="col-7">
					<h4>Node Editor - {{ title }}</h4>
				</div>
				<div class="col-5">
					<button style="margin-right:10px;margin-bottom:10px;font-size: 24px;padding: 5px;" nbButton status="info"><i class="edit-column nb-edit"></i></button>
					<button style="margin-right:10px;margin-bottom:10px;padding: 9px;" nbButton status="primary" (click)="loadStory()">Load</button>
					<button *ngIf="hasStory" style="margin-right:10px;margin-bottom:10px;padding: 9px;" nbButton status="success" (click)="saveStory()">Save</button>
					<button style="margin-right:10px;margin-bottom:10px;padding: 9px;" nbButton status="success" (click)="newStory()">New</button>
					<nb-select size="large" selected="en" style="width: 10rem;margin-right:10px;font-size: 24px;"
					           (selectedChange)="onLanguageChange($event)">
						<nb-option *ngFor="let language of languages | async | keyvalue | orderBy: 'asc': 'value'" [value]="language.key">{{ language.value }}</nb-option>
					</nb-select>
				</div>
			</nb-card-header>
		</nb-card>
	</div>
	<div class="wrapper">
		<div class="side-panel right" #sidePanel>
			<nb-card class="h-100">
				<nb-card-header>
					<button nbButton ghost status="basic">
						<nb-icon icon="expand"></nb-icon>
					</button>
					<h6>{{ nodeTitle }}</h6>
				</nb-card-header>
				<nb-card-body>
					<!-------- Events ------------->
					<ngx-event-editor #eventEditorComponent *ngIf="CurrentNode && CurrentNode.name === 'Event'"
									  [project]="Project"
									  [currentNode]="CurrentNode" [events]="tblEvents"
								(onEventUpdated)="updateEvent($event)">
					</ngx-event-editor>

					<!-- Dialogues -->
					<div class="form-group {{ textAreaQuestion.groupCss }}">
						<label *ngIf="!textAreaQuestion.hidden" class="formHeading" for="{{ textAreaQuestion.key }}--area">{{ textAreaQuestion.text }}</label>
						<textarea id="{{ textAreaQuestion.key }}--area" style="min-height:250px"
						          nbInput fullWidth
						          [name]="textAreaQuestion.name"
						          [value]="textAreaQuestion.value"
								  [hidden]="textAreaQuestion.hidden"
						          (change)="setDialogue = $event">
						</textarea>
					</div>

					<div class="form-group">
						<label *ngIf="HasOutputs && CurrentNode && CurrentNode.name === 'Dialogue'" class="formHeading">Choices</label>
						<ng-container #overViewContainer></ng-container>
						<button *ngIf="CurrentNode && CurrentNode.name === 'Dialogue'" nbButton fullWidth status="primary" class="flex-grow-1" (click)="addOption()">Add Option</button>
						<button *ngIf="HasOutputs" nbButton fullWidth status="success" class="my-2" (click)="updateOptions()">Save</button>
					</div>

					<!-- character id -->
					<!-- TODO make character to support multiple character conversation -->
					<div class="form-group {{ charTextQuestion.groupCss }}">
						<label *ngIf="!charTextQuestion.hidden" class="formHeading d-flex" for="{{ charTextQuestion.key }}--dropdown">
							<span class="flex-grow-1">{{ charTextQuestion.text }}</span>
						</label>
						<nb-select #charSelectComponent
							id="{{ charTextQuestion.key }}--dropdown"
							fullWidth
							[placeholder]="charTextQuestion.placeholder"
							[hidden]="charTextQuestion.hidden"
							[selected]="charTextQuestion.value"
							[attr.disabled]="charTextQuestion.disabled ? '' : null"
							(selectedChange)="charTextQuestion.value = $event">
							<nb-option [value]="9007199254740991">None</nb-option>
							<nb-option *ngFor="let o of charTextQuestion.options$ | async" [disabled]="o.disabled"
							           [value]="o.value">{{ o.key }}
							</nb-option>
						</nb-select>
					</div>

					<!-- previous connection -->
					<div *ngIf="nonStartNode" class="form-group {{ textQuestion.groupCss }}">
						<label class="formHeading d-flex" for="{{ textQuestion.key }}--textbox" *ngIf="textQuestion">
							<span class="flex-grow-1">{{ textQuestion.text }}</span>
						</label>
						<textarea id="{{ textQuestion.key }}--textbox"
								[class.hidden]="textQuestion.hidden"
						       	[value]="textQuestion.value"
						       	[placeholder]="textQuestion.text"
						       	[name]="textQuestion.name"
						       	[readOnly]="textQuestion.readOnly"
						       	[attr.disabled]="textQuestion.disabled ? '' : null"
						       	nbInput
						       	fullWidth
						></textarea>
					</div>

					<button *ngIf="!textAreaQuestion.hidden" nbButton fullWidth status="success" class="my-2" (click)="updateDialogue()">Save</button>

				</nb-card-body>
			</nb-card>
		</div>
		<div #nodeEditor class="node-editor"></div>
	</div>
	<div class="col-md-12"></div>
</div>
