@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// Components
@import './components/snackbar.component';
@import './components/vertical-tabset.component';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

@import './node-editor.theme';

.cdk-global-scrollblock {
	position: static !important;
}

// install the framework and custom global styles
@include nb-install() {

	// framework global styles
	@include nb-theme-global();
	@include nb-auth-global();

	@include ngx-layout();
	// loading progress bar
	@include ngx-pace-theme();

	@include nb-overrides();

	@include nb-snackbar-theme();
	@include nb-vertical-tabset-theme();


	.form-control {
		color: nb-theme(text-basic-color);
		background: nb-theme(background-basic-color-2);
		border-color: nb-theme(background-basic-color-4);
	}

	@include ngx-node-editor-theme();

	nb-icon {
		font-size: 1.5rem;
		&.click {
			cursor: pointer;
		}
	}

	.modal-lg {
		max-width: 1490px !important;
	}

	nb-window.context-window-story-editor {
		width: 1000px;
		max-height: 800px;
		overflow-y: auto;
	}

	.divider {
		border: 1px solid #edf1f7;
	}

	.pointer {
		cursor: pointer;
	}
}
